@import url(blocks/page.css);
@import url(blocks/header.css);
@import url(blocks/nav.css);
@import url(blocks/content.css);
@import url(blocks/intro.css);
@import url(blocks/socials.css);
@import url(blocks/gallery.css);
@import url(blocks/footer.css);

@media only screen and (max-width: 900px) {
  .hero {
    display: flex;
    flex-direction: column;
  }

  .info {
    width: 60%;
  }

  br {
    display: block;
  }

  .img-box {
    position: relative;
    width: 70%;
    right: 0;
  }

  .img-box img {
    max-height: 50%;
    left: 15%;
    transform: translateX(0);
  }

  .img-box:hover .main-img {
    left: 14%;
  }
}

@media only screen and (max-width: 600px) {
  .hero {
    display: flex;
    flex-direction: column;
  }

  .info {
    width: 60%;
  }

  br {
    display: none;
  }

  .img-box {
    position: relative;
    width: 70%;
    right: 0;
  }

  .img-box img {
    max-height: 50%;
    left: 15%;
    transform: translateX(0);
  }

  .img-box:hover .main-img {
    left: 14%;
  }
}

.portfolio__example {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 25px auto;
  padding: 5px;
  border-radius: 10px;
}

.portfolio__title {
  margin: 10px;
}

.portfolio__gif {
  max-width: 600px;
  border-radius: 5px;
  border: none;
}

.portfolio__description {
  margin: 10px;
  font-family: sans-serif;
}

@media only screen and (max-width: 600px) {
  .portfolio__example {
    max-width: 100%;
    margin: 10px auto;
  }

  .portfolio__gif {
    max-width: 350px;
  }
}
