.content {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.content__intro {
  height: 100vh;
  margin-left: 80px;
  position: relative;
}

.content__gallery {
  padding: 80px 80px;
}

.content__portfolio {
}

@media only screen and (max-width: 700px) {
  .content__intro {
    margin: 50px auto;
    width: 80%;
  }

  .content__gallery {
    padding: 80px 20px;
  }
}
