.gallery {
  background-color: #212121;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}

.gallery__image {
  width: 100%;
  cursor: pointer;
  transition: 0.4s;
}

.gallery__image:hover {
  transform: scale(0.95) rotate(-0.5deg);
  border-radius: 20px;
  box-shadow: 0 32 7px rgba(68, 77, 136, 0.2);
}
