.root {
  --header-height: 78px;
}
.header {
  position: fixed;
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
  transition: transform 0.3s ease-in-out;
}

.header--hidden {
  transform: translateY(calc(-1 * var(--header-height)));
}

.header__logo {
  width: 100px;
  cursor: pointer;
}

.header__nav {
  width: 84%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu {
  position: fixed;
  top: 1.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.header__menu-bar {
  height: 3px;
  width: 100%;
  background-color: #212121;
  border-radius: 10px;
}

@media only screen and (max-width: 700px) {
  .header {
    flex-direction: column;
    height: 78px;
  }

  .header__logo {
    display: none;
  }

  .header__menu {
    display: flex;
  }
}
